@model IEnumerable<HalalBakersShop.Models.Category>

@{
    ViewData["Title"] = "Index";
}

    <div style="height:95vh">
        <h2>Index</h2>

        <p>
            <a asp-action="Create" class="btn btn-danger">Create New</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CategoryName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CategoryName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.CategoryId" class="btn btn-danger">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.CategoryId" class="btn btn-danger">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.CategoryId" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>